<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>Inicio</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
    </head>
    <body>
    <header th:fragment="header">
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    <i class="fa fa-duotone fa-gear fa-xl"
                       style="--fa-secondary-color: #808080;"></i>
                Gestion de Datos
                </a>
            </nav>  
    </header >  
    <sidebar th:fragment="sidebar">
        <div class="col bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                </ul>
                <hr>

            </div>
        </div>
    </sidebar>
<footer  th:fragment="footer" class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-dark" href="">Lenguaje de Programación III</a>
  </div>
  <!-- Copyright -->
</footer>
        
     </body>
</html>